/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY*/
body {
    font-family: sans-serif;
}

/*CONTAINER*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*TUTTO CIO' CHE MI RIGUARDA L'HEADER*/
.header-nav {
    background-color: orange;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gender > a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

.logo > img {
    width: 250px;
    height: 50px;
}

.user-buy > i {
    padding: 5px;
}

.user-buy {
    color: white;
}

/*TUTTO CIO' CHE MI RIGUARDA IL MAIN*/
.items {
    margin-top: 50px;
}

.card > img {
    width: 100%;
}

.prefer {
    width: 50px;
    height: 40px;
    background-color: white;
    position: absolute; 
    top: 20px;
    right: 0;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}

.red-box {
    width: 50px;
    height: 30px;
    background-color: red;
    color: white;
    position: absolute; 
    bottom: 150px;
    left: 0;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

.green-box {
    width: 120px;
    height: 30px;
    background-color: green;
    color: white;
    position: absolute; 
    bottom: 150px;
    left: 60px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}


.row {
    display: flex;
    gap: 30px 15px;
    flex-wrap: wrap;
}

.card {
    flex-basis: calc(100% / 3 - 30px);
    min-height: 500px;
    position: relative;
}

.card-title {
    font-size: large;
    font-weight: bold;
}

.discount-price {
    color: red;
    font-weight: bolder;
    display: inline-block;
}

.full-price {
    text-decoration: line-through;
    display: inline-block;
}

.green2 {
    left: 0px;
}

/*TUTTO CIO' CHE MI RIGUARDA IL FOOTER*/
footer {
    margin-top: 50px;
    background-color: black;
}

.informations {
    display: inline-block;
}

.footer-nav {
    min-height: 100px;
    color: white;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.informations > a {
    text-decoration: none;
    color: white;
    padding-left: 5px;
}

.footer-info {
    flex-basis: 80%;
}

.social {
    flex-basis: 20%;
}

.footer-info > * {
    margin: 10px 0;
}

.social > * {
    margin: 10px 0;
}

.social > i {
    padding: 5px;
}